body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.card {
  background: #222;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.card img {
  width: 100%;
  height: auto;
 
